@media (max-width: 1744px) {
  main {
    .main_present-block {
      .present-block_text-content {
        width: 37%;
      }

      .present-block_decorate-img {
        .decorate-img_back-part {
          .back-part_text {
            font-size: 4.5em;
          }
        }
      }
    }
  }

  .guideline-for-user_instruction {
    .instruction_buttons-list.first-column {
      .buttons-list_button:nth-child(1) .line {
        min-height: 120px;
      }

      .buttons-list_button:nth-child(2) .line {
        min-height: 75px;
      }

      .buttons-list_button:nth-child(3) .line {
        min-height: 42px;
      }

      .buttons-list_button:nth-child(5) .line {
        --h: 100px !important;
      }
    }

    .instruction_buttons-list.second-column {
      .buttons-list_button:nth-child(3) .line {
        top: 15%;
      }

      .buttons-list_button:nth-child(4) .line {
        --h: 110px !important;
      }

      .buttons-list_button:nth-child(5) .line {
        --h: 164px !important;
      }
    }
  }
}

@media (max-width: 1726px) {
  main {
    .main_promo-banner {
      .promo-banner_text-content {
        .promo-banner_border-for-text-block {
          #bottom_right {
            z-index: 10;
          }
        }
      }
    }
  }
}

@media (max-width: 1703px) {
  main {
    .main_guideline-for-user {
      width: 88%;

      .guideline-for-user_instruction {
        .instruction_buttons-list {
          .buttons-list_button {
            p {
              width: 50%;
            }

            .line {
              width: calc(var(--x) + 10%);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1698px) {
  main {
    .main_present-block {
      .present-block_decorate-img {
        .decorate-img_front-part {
          .front-part_decorate-text {
            #first {
              left: -4.5em;
            }

            #second {
              top: 6.3em;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  main {
    .main_promo-banner {
      padding: 3.5em 0;

      .promo-banner_decorate-img {
        width: 58%;
      }

      #left {
        position: absolute;
        left: -14.5em;
      }

      #rigth {
        position: absolute;
        right: -14.5em;
      }
    }
  }
}

@media (max-width: 1552px) {
  main {
    .main_guideline-for-user {
      .guideline-for-user_instruction {
        .instruction_buttons-list.first-column {
          .buttons-list_button:nth-child(2) .line {
            min-height: 66px;
          }

          .buttons-list_button:nth-child(4) .line {
            --x: 27vw !important;
          }

          .buttons-list_button:nth-child(5) .line {
            --x: 38vw !important;
          }
        }

        .instruction_buttons-list.second-column {
          .buttons-list_button:nth-child(1) .line {
            min-height: 175px;
          }

          .buttons-list_button:nth-child(2) .line {
            min-height: 40px;
          }

          .buttons-list_button:nth-child(3) .line {
            top: 20%;
          }

          .buttons-list_button:nth-child(4) .line {
            min-height: 105px;
            top: calc((105px - 50%) * -1);
          }

          .buttons-list_button:nth-child(5) .line {
            top: calc((150px - 50%) * -1);
            min-height: 150px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  main {
    .main_present-block {
      .present-block_decorate-img {
        .decorate-img_front-part {
          .front-part_decorate-text {
            .decorate-text_text {
              p {
                width: 24%;
              }
            }
          }
        }
      }
    }

    .main_about-our-quality {
      gap: 5em;

      .about-our-quality_text-content {
        width: 45%;
      }
    }
  }
}

@media (max-width: 1374px) {
  main {
    .main_present-block {
      width: 90%;

      .present-block_text-content {
        width: 38%;

        .text-content_actions {
          .actions_navigate-prod-page {
            width: 50%;
            padding: 1em;
          }
        }
      }

      .present-block_decorate-img {
        .decorate-img_front-part {
          .front-part_product-photo {
            width: 90%;
          }

          .front-part_decorate-text {
            #first {
              top: 2.5em;
            }

            #second {
              left: 2.35em;
              top: 5.5em;
            }
          }
        }
      }
    }

    .main_about-our-quality {
      .about-our-quality_text-content {
        .text-content_list-of-qualities {
          .list-of-qualities_quality {
            font-size: 0.6em;
          }
        }
      }
    }

    .main_guideline-for-user {
      .guideline-for-user_instruction {
        .instruction_buttons-list.second-column {
          .buttons-list_button:nth-child(1) .line {
            min-height: 165px;
          }
        }
      }
    }

    .main_promo-banner {
      .promo-banner_text-content {
        padding: calc(3.5em / 2 * 1.5) 0;
      }

      #left {
        position: absolute;
        left: -14.5em;
      }

      #rigth {
        position: absolute;
        right: -14.5em;
      }
    }
  }
}

@media (max-width: 1200px) {
  main {
    .main_guideline-for-user {
      .guideline-for-user_instruction {
        .instruction_buttons-list {
          p {
            font-size: 14px;
          }
        }

        .instruction_buttons-list.first-column {
          .buttons-list_button:nth-child(1) .line {
            min-height: 98px;
          }

          .buttons-list_button:nth-child(2) .line {
            min-height: 53px;
          }
        }

        .instruction_buttons-list.second-column {
          .buttons-list_button:nth-child(1) .line {
            min-height: 140px;
          }
        }
      }
    }
  }
}

@media (max-width: 1140px) {
  main {
    .main_guideline-for-user {
      .guideline-for-user_instruction {
        .instruction_buttons-list.first-column {
          .buttons-list_button:nth-child(4) .line {
            top: 30%;
          }
        }

        .instruction_buttons-list.second-column {
          .buttons-list_button:nth-child(3) .line {
            top: 10%;
          }
        }
      }
    }

    .main_promo-banner {
      #left {
        position: absolute;
        left: -13em;
      }

      #rigth {
        position: absolute;
        right: -13em;
      }
    }
  }
}

@media (max-width: 1110px) {
  main {
    .main_present-block {
      display: flex;
      flex-direction: column-reverse;
      gap: 2em;
      padding-top: 1.5em;

      .present-block_text-content {
        width: 85%;

        .text-content_actions {
          width: 60%;
        }
      }

      .present-block_decorate-img {
        width: 55%;

        .decorate-img_front-part {
          .front-part_product-photo {
            width: 99%;
          }

          .front-part_decorate-text {
            p {
              width: 40%;
            }

            #first {
              top: 3em;
              left: -4.5em;
            }

            #second {
              left: 2.2em;
              top: 5.8em;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1030px) {
  main {
    .main_about-our-quality {
      width: 90%;
      gap: 3em;

      .decorate-for-qual-block {
        width: 45%;
      }

      .about-our-quality_text-content {
        width: 50%;
      }
    }

    .main_guideline-for-user {
      width: 90%;

      .guideline-for-user_instruction {
        .instruction_game-controller-photo {
          width: 57%;
        }

        .instruction_buttons-list.first-column {
          .buttons-list_button .line {
            left: 55%;
          }

          .buttons-list_button:nth-child(1) .line {
            min-height: 88px;
          }

          .buttons-list_button:nth-child(2) .line {
            min-height: 48px;
          }
        }

        .instruction_buttons-list.second-column {
          .buttons-list_button:nth-child(1) .line {
            width: 336px;
            min-height: 137px;
          }
        }
      }
    }

    .main_promo-banner {
      .promo-banner_decorate-img {
        width: 62%;
      }
    }
  }
}

@media (max-width: 1000px) {
  main {
    .main_guideline-for-user {
      .guideline-for-user_title {
        margin-bottom: 1em;
      }

      .guideline-for-user_instruction {
        .instruction_buttons-list {
          display: none;
        }

        .instruction_game-controller-photo {
          display: none;
        }

        .instruction_game-controller-photo {
          display: none;
        }

        .instruction_smallScreen-version {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .smallScreen-version_buttons-lists {
            display: flex;
            align-items: start;
            justify-content: left;
            gap: 3em;

            .buttons-lists_buttons-list {
              width: 45%;
              display: flex;
              flex-direction: column;
              gap: 1em;
              justify-content: start;

              .buttons-list_button {
                font-size: 0.7em;
                color: white;
                text-align: left;
              }
            }
          }

          .smallScreen-version_game-controller-photo {
            width: 80%;
          }
        }
      }
    }
  }
}

@media (max-width: 918px) {
  main {
    .main_about-our-quality {
      justify-content: right;

      .decorate-for-qual-block {
        position: absolute;
        left: -6em;
        width: 55%;
      }

      .about-our-quality_text-content {
        width: 60%;
      }
    }
  }
}

@media (max-width: 840px) {
  main {
    .main_present-block {
      .present-block_text-content {
        text-align: center;
        display: flex;
        align-items: center;
        width: 90%;

        .text-content_actions {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 25px;

          .actions_how-to-use {
            width: 40%;
            min-width: 126px;
          }
        }
      }

      .present-block_decorate-img {
        .decorate-img_front-part {
          .front-part_decorate-text {
            #first {
              top: 2em;
            }

            #second {
              left: 2em;
              top: 5.2em;
            }
          }
        }
      }
    }

    .main_promo-banner {
      padding-top: 1em;

      #rigth {
        display: none;
      }

      #left {
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        top: 10em;
      }
    }
  }
}

@media (max-width: 710px) {
  main {
    .main_present-block {
      padding: 1.8em 0;
      gap: 1em;

      .present-block_decorate-img {
        width: 65%;

        .decorate-img_front-part {
          .front-part_decorate-text {
            display: none;
          }
        }
      }
    }

    .main_about-our-quality {
      justify-content: center;

      .about-our-quality_text-content {
        width: 80%;
      }

      .decorate-for-qual-block {
        display: none;
      }
    }
  }
}

@media (max-width: 690px) {
  main {
    .main_present-block {
      .present-block_text-content {
        .text-content_actions {
          width: 80%;
        }
      }
    }
  }
}

@media (max-width: 590px) {
  main {
    .main_promo-banner {
      #left {
        width: 95%;
      }
    }
  }
}

@media (max-width: 576px) {
  main {
    .main_present-block {
      gap: 0;

      .present-block_text-content {
        width: 100%;
        gap: 20px;

        .text-content_actions {
          width: 85%;

          .actions_how-to-use {
            .how-to-use_desc {
              font-size: 10px;
            }
          }
        }
      }

      .present-block_decorate-img {
        width: 80%;

        .decorate-img_back-part {
          .back-part_circle {
            width: 35%;
            top: -0.5em;
          }
        }

        .decorate-img_front-part {
          .front-part_product-photo {
            width: 100%;
          }
        }
      }
    }

    .main_about-our-quality {
      gap: 0;
      justify-content: center;
      margin: 0 auto;

      .about-our-quality_text-content {
        width: 85%;

        .text-content_list-of-qualities {
          .list-of-qualities_quality {
            font-size: 0.8em;
          }
        }
      }
    }

    .main_promo-banner {
      .promo-banner_text-content {
        .text-content_description {
          font-size: 0.8em;
        }

        .text-content_navigate-to-prod-list {
          margin-top: 0.5em;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  main {
    .main_guideline-for-user {
      .guideline-for-user_instruction {
        .instruction_smallScreen-version {
          .smallScreen-version_buttons-lists {
            display: flex;
            align-items: center;
            justify-content: center;

            .buttons-lists_buttons-list {
              width: 50%;

              .buttons-list_button {
                font-size: 0.6em;

              }
            }
          }

          .smallScreen-version_game-controller-photo {
            width: 90%;
          }
        }
      }
    }
  }
}

@media (max-width: 488px) {
  main {
    .main_promo-banner {
      .promo-banner_text-content {}
    }
  }
}

@media (max-width: 453px) {
  main {
    .main_guideline-for-user {
      .guideline-for-user_instruction {
        .instruction_smallScreen-version {
          .smallScreen-version_buttons-lists {
            .buttons-lists_buttons-list {
              width: 50%;

              .buttons-list_button {
                font-size: 0.6em;

              }
            }
          }

          .smallScreen-version_game-controller-photo {
            width: 90%;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 406px) {
  main {
    .main_present-block {
      .present-block_text-content {
        .text-content_title {
          font-size: 26px;
        }

        .text-content_desc {
          width: 100%;
        }
      }

      .present-block_decorate-img {
        .decorate-img_back-part {
          .back-part_text {
            font-size: 3.5em;
          }
        }
      }
    }

    .main_promo-banner {
      .promo-banner_text-content {
        .text-content_description {
          font-size: 0.6em;
        }
      }
    }
  }
}

@media (max-width: 350px) {
  main {
    .main_guideline-for-user {
      .guideline-for-user_title {
        text-align: center;
      }
    }
  }
}