@media (max-width: 1744px) {
  main .main_present-block .present-block_text-content {
    width: 37%;
  }
  main .main_present-block .present-block_decorate-img .decorate-img_back-part .back-part_text {
    font-size: 4.5em;
  }
  .guideline-for-user_instruction .instruction_buttons-list.first-column .buttons-list_button:nth-child(1) .line {
    min-height: 120px;
  }
  .guideline-for-user_instruction .instruction_buttons-list.first-column .buttons-list_button:nth-child(2) .line {
    min-height: 75px;
  }
  .guideline-for-user_instruction .instruction_buttons-list.first-column .buttons-list_button:nth-child(3) .line {
    min-height: 42px;
  }
  .guideline-for-user_instruction .instruction_buttons-list.first-column .buttons-list_button:nth-child(5) .line {
    --h: 100px !important;
  }
  .guideline-for-user_instruction .instruction_buttons-list.second-column .buttons-list_button:nth-child(3) .line {
    top: 15%;
  }
  .guideline-for-user_instruction .instruction_buttons-list.second-column .buttons-list_button:nth-child(4) .line {
    --h: 110px !important;
  }
  .guideline-for-user_instruction .instruction_buttons-list.second-column .buttons-list_button:nth-child(5) .line {
    --h: 164px !important;
  }
}
@media (max-width: 1726px) {
  main .main_promo-banner .promo-banner_text-content .promo-banner_border-for-text-block #bottom_right {
    z-index: 10;
  }
}
@media (max-width: 1703px) {
  main .main_guideline-for-user {
    width: 88%;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_buttons-list .buttons-list_button p {
    width: 50%;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_buttons-list .buttons-list_button .line {
    width: calc(var(--x) + 10%);
  }
}
@media (max-width: 1698px) {
  main .main_present-block .present-block_decorate-img .decorate-img_front-part .front-part_decorate-text #first {
    left: -4.5em;
  }
  main .main_present-block .present-block_decorate-img .decorate-img_front-part .front-part_decorate-text #second {
    top: 6.3em;
  }
}
@media (max-width: 1600px) {
  main .main_promo-banner {
    padding: 3.5em 0;
  }
  main .main_promo-banner .promo-banner_decorate-img {
    width: 58%;
  }
  main .main_promo-banner #left {
    position: absolute;
    left: -14.5em;
  }
  main .main_promo-banner #rigth {
    position: absolute;
    right: -14.5em;
  }
}
@media (max-width: 1552px) {
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_buttons-list.first-column .buttons-list_button:nth-child(2) .line {
    min-height: 66px;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_buttons-list.first-column .buttons-list_button:nth-child(4) .line {
    --x: 27vw !important;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_buttons-list.first-column .buttons-list_button:nth-child(5) .line {
    --x: 38vw !important;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_buttons-list.second-column .buttons-list_button:nth-child(1) .line {
    min-height: 175px;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_buttons-list.second-column .buttons-list_button:nth-child(2) .line {
    min-height: 40px;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_buttons-list.second-column .buttons-list_button:nth-child(3) .line {
    top: 20%;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_buttons-list.second-column .buttons-list_button:nth-child(4) .line {
    min-height: 105px;
    top: calc((105px - 50%) * -1);
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_buttons-list.second-column .buttons-list_button:nth-child(5) .line {
    top: calc((150px - 50%) * -1);
    min-height: 150px !important;
  }
}
@media (max-width: 1500px) {
  main .main_present-block .present-block_decorate-img .decorate-img_front-part .front-part_decorate-text .decorate-text_text p {
    width: 24%;
  }
  main .main_about-our-quality {
    gap: 5em;
  }
  main .main_about-our-quality .about-our-quality_text-content {
    width: 45%;
  }
}
@media (max-width: 1374px) {
  main .main_present-block {
    width: 90%;
  }
  main .main_present-block .present-block_text-content {
    width: 38%;
  }
  main .main_present-block .present-block_text-content .text-content_actions .actions_navigate-prod-page {
    width: 50%;
    padding: 1em;
  }
  main .main_present-block .present-block_decorate-img .decorate-img_front-part .front-part_product-photo {
    width: 90%;
  }
  main .main_present-block .present-block_decorate-img .decorate-img_front-part .front-part_decorate-text #first {
    top: 2.5em;
  }
  main .main_present-block .present-block_decorate-img .decorate-img_front-part .front-part_decorate-text #second {
    left: 2.35em;
    top: 5.5em;
  }
  main .main_about-our-quality .about-our-quality_text-content .text-content_list-of-qualities .list-of-qualities_quality {
    font-size: 0.6em;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_buttons-list.second-column .buttons-list_button:nth-child(1) .line {
    min-height: 165px;
  }
  main .main_promo-banner .promo-banner_text-content {
    padding: 2.625em 0;
  }
  main .main_promo-banner #left {
    position: absolute;
    left: -14.5em;
  }
  main .main_promo-banner #rigth {
    position: absolute;
    right: -14.5em;
  }
}
@media (max-width: 1200px) {
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_buttons-list p {
    font-size: 14px;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_buttons-list.first-column .buttons-list_button:nth-child(1) .line {
    min-height: 98px;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_buttons-list.first-column .buttons-list_button:nth-child(2) .line {
    min-height: 53px;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_buttons-list.second-column .buttons-list_button:nth-child(1) .line {
    min-height: 140px;
  }
}
@media (max-width: 1140px) {
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_buttons-list.first-column .buttons-list_button:nth-child(4) .line {
    top: 30%;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_buttons-list.second-column .buttons-list_button:nth-child(3) .line {
    top: 10%;
  }
  main .main_promo-banner #left {
    position: absolute;
    left: -13em;
  }
  main .main_promo-banner #rigth {
    position: absolute;
    right: -13em;
  }
}
@media (max-width: 1110px) {
  main .main_present-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 2em;
    padding-top: 1.5em;
  }
  main .main_present-block .present-block_text-content {
    width: 85%;
  }
  main .main_present-block .present-block_text-content .text-content_actions {
    width: 60%;
  }
  main .main_present-block .present-block_decorate-img {
    width: 55%;
  }
  main .main_present-block .present-block_decorate-img .decorate-img_front-part .front-part_product-photo {
    width: 99%;
  }
  main .main_present-block .present-block_decorate-img .decorate-img_front-part .front-part_decorate-text p {
    width: 40%;
  }
  main .main_present-block .present-block_decorate-img .decorate-img_front-part .front-part_decorate-text #first {
    top: 3em;
    left: -4.5em;
  }
  main .main_present-block .present-block_decorate-img .decorate-img_front-part .front-part_decorate-text #second {
    left: 2.2em;
    top: 5.8em;
  }
}
@media (max-width: 1030px) {
  main .main_about-our-quality {
    width: 90%;
    gap: 3em;
  }
  main .main_about-our-quality .decorate-for-qual-block {
    width: 45%;
  }
  main .main_about-our-quality .about-our-quality_text-content {
    width: 50%;
  }
  main .main_guideline-for-user {
    width: 90%;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_game-controller-photo {
    width: 57%;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_buttons-list.first-column .buttons-list_button .line {
    left: 55%;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_buttons-list.first-column .buttons-list_button:nth-child(1) .line {
    min-height: 88px;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_buttons-list.first-column .buttons-list_button:nth-child(2) .line {
    min-height: 48px;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_buttons-list.second-column .buttons-list_button:nth-child(1) .line {
    width: 336px;
    min-height: 137px;
  }
  main .main_promo-banner .promo-banner_decorate-img {
    width: 62%;
  }
}
@media (max-width: 1000px) {
  main .main_guideline-for-user .guideline-for-user_title {
    margin-bottom: 1em;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_buttons-list {
    display: none;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_game-controller-photo {
    display: none;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_game-controller-photo {
    display: none;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_smallScreen-version {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_smallScreen-version .smallScreen-version_buttons-lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    gap: 3em;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_smallScreen-version .smallScreen-version_buttons-lists .buttons-lists_buttons-list {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1em;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_smallScreen-version .smallScreen-version_buttons-lists .buttons-lists_buttons-list .buttons-list_button {
    font-size: 0.7em;
    color: white;
    text-align: left;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_smallScreen-version .smallScreen-version_game-controller-photo {
    width: 80%;
    -webkit-filter: drop-shadow(0 0 150px var(--second-primary-color));
            filter: drop-shadow(0 0 150px var(--second-primary-color));
  }
}
@media (max-width: 918px) {
  main .main_about-our-quality {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  main .main_about-our-quality .decorate-for-qual-block {
    position: absolute;
    left: -6em;
    width: 55%;
  }
  main .main_about-our-quality .about-our-quality_text-content {
    width: 60%;
  }
}
@media (max-width: 840px) {
  main .main_present-block .present-block_text-content {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
  }
  main .main_present-block .present-block_text-content .text-content_actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 25px;
  }
  main .main_present-block .present-block_text-content .text-content_actions .actions_how-to-use {
    width: 40%;
    min-width: 126px;
  }
  main .main_present-block .present-block_decorate-img .decorate-img_front-part .front-part_decorate-text #first {
    top: 2em;
  }
  main .main_present-block .present-block_decorate-img .decorate-img_front-part .front-part_decorate-text #second {
    left: 2em;
    top: 5.2em;
  }
  main .main_promo-banner {
    padding-top: 1em;
  }
  main .main_promo-banner #rigth {
    display: none;
  }
  main .main_promo-banner #left {
    width: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 10em;
  }
}
@media (max-width: 710px) {
  main .main_present-block {
    padding: 1.8em 0;
    gap: 1em;
  }
  main .main_present-block .present-block_decorate-img {
    width: 65%;
  }
  main .main_present-block .present-block_decorate-img .decorate-img_front-part .front-part_decorate-text {
    display: none;
  }
  main .main_about-our-quality {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .main_about-our-quality .about-our-quality_text-content {
    width: 80%;
  }
  main .main_about-our-quality .decorate-for-qual-block {
    display: none;
  }
}
@media (max-width: 690px) {
  main .main_present-block .present-block_text-content .text-content_actions {
    width: 80%;
  }
}
@media (max-width: 590px) {
  main .main_promo-banner #left {
    width: 95%;
  }
}
@media (max-width: 576px) {
  main .main_present-block {
    gap: 0;
  }
  main .main_present-block .present-block_text-content {
    width: 100%;
    gap: 20px;
  }
  main .main_present-block .present-block_text-content .text-content_actions {
    width: 85%;
  }
  main .main_present-block .present-block_text-content .text-content_actions .actions_how-to-use .how-to-use_desc {
    font-size: 10px;
  }
  main .main_present-block .present-block_decorate-img {
    width: 80%;
  }
  main .main_present-block .present-block_decorate-img .decorate-img_back-part .back-part_circle {
    width: 35%;
    top: -0.5em;
  }
  main .main_present-block .present-block_decorate-img .decorate-img_front-part .front-part_product-photo {
    width: 100%;
  }
  main .main_about-our-quality {
    gap: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  main .main_about-our-quality .about-our-quality_text-content {
    width: 85%;
  }
  main .main_about-our-quality .about-our-quality_text-content .text-content_list-of-qualities .list-of-qualities_quality {
    font-size: 0.8em;
  }
  main .main_promo-banner .promo-banner_text-content .text-content_description {
    font-size: 0.8em;
  }
  main .main_promo-banner .promo-banner_text-content .text-content_navigate-to-prod-list {
    margin-top: 0.5em;
  }
}
@media (max-width: 500px) {
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_smallScreen-version .smallScreen-version_buttons-lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_smallScreen-version .smallScreen-version_buttons-lists .buttons-lists_buttons-list {
    width: 50%;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_smallScreen-version .smallScreen-version_buttons-lists .buttons-lists_buttons-list .buttons-list_button {
    font-size: 0.6em;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_smallScreen-version .smallScreen-version_game-controller-photo {
    width: 90%;
  }
}
@media (max-width: 453px) {
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_smallScreen-version .smallScreen-version_buttons-lists .buttons-lists_buttons-list {
    width: 50%;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_smallScreen-version .smallScreen-version_buttons-lists .buttons-lists_buttons-list .buttons-list_button {
    font-size: 0.6em;
  }
  main .main_guideline-for-user .guideline-for-user_instruction .instruction_smallScreen-version .smallScreen-version_game-controller-photo {
    width: 95%;
    margin-bottom: 20px;
  }
}
@media (max-width: 406px) {
  main .main_present-block .present-block_text-content .text-content_title {
    font-size: 26px;
  }
  main .main_present-block .present-block_text-content .text-content_desc {
    width: 100%;
  }
  main .main_present-block .present-block_decorate-img .decorate-img_back-part .back-part_text {
    font-size: 3.5em;
  }
  main .main_promo-banner .promo-banner_text-content .text-content_description {
    font-size: 0.6em;
  }
}
@media (max-width: 350px) {
  main .main_guideline-for-user .guideline-for-user_title {
    text-align: center;
  }
}