@media (max-width: 1716px) {
  footer {
    .footer_logo {
      .logo_name {
        width: 20%;
      }
    }
  }
}

@media (max-width: 1202px) {
  footer {
    .footer_content {
      width: 90%;
      .content_top {
        padding: 2em 0;
        .content_about-us {
          width: 45%;
        }

        .footer_navigate {
          width: 70%;

          .navigate_links {
            .links_title-list {
              font-size: 0.7em;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1116px) {
  footer {
    .footer_content {
      .content_top {
        gap: 3em;

        .content_about-us {
          width: 55%;
        }
      }
    }
  }
}

@media (max-width: 982px) {
  footer {
    .footer_content {
      width: 85%;

      .content_top {
        display: flex;
        flex-direction: column;
        align-items: start;
        .content_about-us {
          width: 70%;

          .about-us_social-media {
            min-width: 480px;
            .social-media-item {
              width: 3%;
            }
          }
        }

        .footer_navigate {
          width: 80%;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  footer {
    .footer_content {
      .content_top {
        .content_about-us {
          width: 80%;
        }

        .footer_navigate {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 732px) {
  footer {
    .footer_logo {
      .logo_name {
        p {
          font-size: 18px;
        }
      }
    }
    .footer_content {
      .content_top {
        .content_about-us {
          width: 90%;
        }

        .footer_navigate {
          display: flex;
          align-items: start;
          flex-wrap: wrap;
          justify-content: left;
          gap: 40px;
          width: 100%;

          .navigate_links {
            .links_title-list {
              font-size: 1.1em;
            }

            .links_items {
              .items_item {
                a {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 510px) {
  footer {
    .footer_logo {
      .logo_name {
        width: 40%;
      }
    }

    .footer_content {
      .content_bottom {
        .bottom_content {
          .bottom_content_payment-methods {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 424px) {
  footer {
    .footer_content {
      .content_top {
        padding: 2em 1em;
        display: flex;

        .footer_navigate {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;

          .navigate_links {
            display: flex;
            justify-content: left;
            align-items: left;
            text-align: left;
            width: 70%;
          }
        }
      }
    }
  }
}

@media (max-width: 374px) {
  footer {
    .footer_logo {
      .logo_name {
        width: 55%;
      }
    }
  }
}
