main {
  width: 100%;
  margin: 0 auto;
}

main .main_present-block {
  width: 83%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2.8em 0;
}

main .main_present-block .present-block_text-content {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

main .main_present-block .present-block_text-content .text-content_title {
  display: inline-block;
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin: 0;
}

main .main_present-block .present-block_text-content .text-content_desc {
  width: 80%;
  font-weight: 300;
  color: white;
  line-height: 2;
  margin: 0;
}

main .main_present-block .present-block_text-content .text-content_actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main
  .main_present-block
  .present-block_text-content
  .text-content_actions
  .actions_navigate-prod-page {
  width: 50%;
  padding: 1.1em 0;
  font-size: 0.5em;
  line-height: 1.5;
  color: white;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    var(--second-primary-color) 0%,
    var(--first-primary-color) 100%
  );
  border-radius: 40px;
  border: none;
}

main
  .main_present-block
  .present-block_text-content
  .text-content_actions
  .actions_how-to-use {
  width: 43%;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

main
  .main_present-block
  .present-block_text-content
  .text-content_actions
  .actions_how-to-use
  .how-to-use_navigate-to-video {
  width: 26%;
  max-width: 53px;
  min-width: 48px;
  padding: 1.1em 0;
  border: none;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
}

main
  .main_present-block
  .present-block_text-content
  .text-content_actions
  .actions_how-to-use
  .how-to-use_navigate-to-video
  img {
  width: 30%;
  min-width: 15px;
  aspect-ratio: 1 / 1;
}

main
  .main_present-block
  .present-block_text-content
  .text-content_actions
  .actions_how-to-use
  .how-to-use_desc {
  color: white;
  text-transform: uppercase;
  font-size: 0.4em;
}

main .main_present-block .present-block_decorate-img {
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
}

main .main_present-block .present-block_decorate-img .decorate-img_back-part {
  position: absolute;
  z-index: 10;
  width: 100%;
}

main
  .main_present-block
  .present-block_decorate-img
  .decorate-img_back-part
  .back-part_circle {
  width: 31.5%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    var(--second-primary-color) 0%,
    var(--first-primary-color) 100%
  );
  position: relative;
  top: -1.6em;
  left: 0;
  margin-left: 65%;
}

main
  .main_present-block
  .present-block_decorate-img
  .decorate-img_back-part
  .back-part_text {
  font-size: 7rem;
  font-weight: bold;
  display: block;
  background: linear-gradient(
    to right,
    var(--second-primary-color) 50%,
    var(--first-primary-color) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin: 0 auto;
  text-align: center;
}

main .main_present-block .present-block_decorate-img .decorate-img_front-part {
  z-index: 100;
  width: 100%;
  position: relative;
  display: flex;
  align-items: start;
}

main
  .main_present-block
  .present-block_decorate-img
  .decorate-img_front-part
  .front-part_decorate-text {
  position: absolute;
  width: 100%;
}

main
  .main_present-block
  .present-block_decorate-img
  .decorate-img_front-part
  .front-part_decorate-text
  .decorate-text_text {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

main
  .main_present-block
  .present-block_decorate-img
  .decorate-img_front-part
  .front-part_decorate-text
  .decorate-text_text
  p {
  display: inline-block;
  width: 18%;
  font-size: 0.45em;
  font-weight: 500;
  color: white;
  line-height: 1.5;
  z-index: 100;
}

main
  .main_present-block
  .present-block_decorate-img
  .decorate-img_front-part
  .front-part_decorate-text
  #first {
  top: 3.2em;
  left: -6em;
}

main
  .main_present-block
  .present-block_decorate-img
  .decorate-img_front-part
  .front-part_decorate-text
  #first
  .line {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  width: 11.7vw;
  height: 2px;
  background-color: var(--three-primary-color);
  z-index: 100;
}

main
  .main_present-block
  .present-block_decorate-img
  .decorate-img_front-part
  .front-part_decorate-text
  #first
  .line::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--three-primary-color);
  box-shadow: 0 0 0 8px rgba(154, 255, 250, 0.5),
    0 0 0 15px rgba(154, 255, 250, 0.3);
}

main
  .main_present-block
  .present-block_decorate-img
  .decorate-img_front-part
  .front-part_decorate-text
  #second {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 0.8em;
  left: 3em;
  top: 7em;
  position: absolute;
}

main
  .main_present-block
  .present-block_decorate-img
  .decorate-img_front-part
  .front-part_decorate-text
  #second
  .line {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2px;
  height: 14vw;
  background-color: var(--three-primary-color);
  z-index: 100;
}

main
  .main_present-block
  .present-block_decorate-img
  .decorate-img_front-part
  .front-part_decorate-text
  #second
  .line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--three-primary-color);
  box-shadow: 0 0 0 8px rgba(154, 255, 250, 0.4),
    0 0 0 15px rgba(154, 255, 250, 0.2);
}

main
  .main_present-block
  .present-block_decorate-img
  .decorate-img_front-part
  .front-part_product-photo {
  width: 99%;
  filter: drop-shadow(0 0 250px var(--second-primary-color));
}

.main_swiper {
  width: 16%;
  min-width: 200px;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.main_swiper .swiper_swipe-slide {
  width: 16%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.main_swiper .swiper_swipe-slide img {
  width: 95%;
  height: 95%;
  max-width: 30px;
}

.main_swiper #left img {
  transform: rotate(180deg);
}

.main_swiper .slides {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 35%;
}

.main_swiper .slides .slide::before {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: gray;
}

.main_swiper .slides #active::before {
  background-color: white;
}

.main_about-our-quality {
  position: relative;
  width: 83%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  margin: 0 auto;
  padding: 8rem 0;
}

.main_about-our-quality .decorate-for-qual-block {
  width: 50%;
  filter: drop-shadow(0 0 100px var(--second-primary-color));
}

.about-our-quality_text-content {
  width: 38%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  text-align: left;
  color: white;
}

.about-our-quality_text-content .text-content_title {
  display: inline-block;
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin: 0;
}

.about-our-quality_text-content .text-content_desc {
  font-weight: 300;
  line-height: 2;
}

.about-our-quality_text-content .text-content_list-of-qualities {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.about-our-quality_text-content
  .text-content_list-of-qualities
  .list-of-qualities_quality {
  font-weight: 300;
  font-size: 0.8em;
  display: inline-flex;
  align-items: center;
  gap: 1em;
}

.about-our-quality_text-content
  .text-content_list-of-qualities
  .list-of-qualities_quality::before {
  content: "";
  display: block;
  width: 2em;
  height: 1.6px;
  background-color: var(--second-primary-color);
}

main .main_guideline-for-user {
  width: 83%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

main .main_guideline-for-user .guideline-for-user_title {
  display: inline-block;
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin: 0;
  margin-bottom: 4rem;
}

main .main_guideline-for-user .guideline-for-user_instruction {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

main
  .main_guideline-for-user
  .guideline-for-user_instruction
  .instruction_game-controller-photo {
  margin-top: 2rem;
  width: 52%;
  filter: drop-shadow(0 0 200px var(--second-primary-color));
}

main
  .main_guideline-for-user
  .guideline-for-user_instruction
  .instruction_buttons-list {
  width: 25%;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  gap: 2.5em;
  font-size: 0.7rem;
  color: white;
}

main .main_guideline-for-user .guideline-for-user_instruction .second-column {
  display: flex;
  align-items: end;
  text-align: right;
}

main
  .main_guideline-for-user
  .guideline-for-user_instruction
  .instruction_buttons-list
  .buttons-list_button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  position: relative;
  line-height: 15px;
}

main
  .main_guideline-for-user
  .guideline-for-user_instruction
  .second-column
  .buttons-list_button {
  flex-direction: row-reverse;
  align-items: end;
}

.buttons-list_button p {
  width: 40%;
  display: inline-block;
}

.buttons-list_button .line {
  --x: 0;
  --h: auto;

  display: block;
  position: absolute;
  top: 50%;
  width: var(--x);
  min-height: var(--h);
  z-index: 100;
  border-color: var(--three-primary-color);
}

main .first-column .buttons-list_button .line {
  left: 45%;
}
main .second-column .buttons-list_button .line {
  right: 45%;
}

.buttons-list_button .line[straight_line] {
  border-top: var(--border);
}

.buttons-list_button .line[line_bottom_left] {
  border-top: var(--border);
  border-right: var(--border);
  border-top-right-radius: 20px;
}

.buttons-list_button .line[line_bottom_right] {
  border-top: var(--border);
  border-left: var(--border);
  border-top-left-radius: 20px;
}

.buttons-list_button .line[line_top_left],
.buttons-list_button .line[line_top_rigth] {
  top: calc((var(--h) - 50%) * -1);
}

.buttons-list_button .line[line_top_left] {
  border-bottom: var(--border);
  border-right: var(--border);
  border-bottom-right-radius: 20px;
}

.buttons-list_button .line[line_top_rigth] {
  border-bottom: var(--border);
  border-left: var(--border);
  border-bottom-left-radius: 20px;
}

.buttons-list_button .line[line_bottom_left]::after,
.buttons-list_button .line[line_bottom_right]::after {
  bottom: 0;
}

.buttons-list_button .line[line_top_left]::after,
.buttons-list_button .line[line_top_rigth]::after {
  top: 0;
}

.first-column .buttons-list_button .line::after,
.second-column .buttons-list_button .line::after {
  content: "";
  position: absolute;
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  background-color: var(--three-primary-color);
  box-shadow: 0 0 0 8px rgba(154, 255, 250, 0.5),
    0 0 0 15px rgba(154, 255, 250, 0.3);
}

.buttons-list_button .line[straight_line]::after {
  top: -7px
}

.first-column .buttons-list_button .line::after {
  right: -7px;
}

.second-column .buttons-list_button .line::after {
  left: -7px;
}

main .main_promo-banner {
  position: relative;
  width: 100%;
  height: 67vh;
  padding: 90px 0;
  margin: 6rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    circle,
    var(--first-primary-color),
    var(--second-primary-color)
  );
  overflow: hidden;
}

main .main_promo-banner .promo-banner_decorate-img {
  width: 55%;
  z-index: 100;
}

main .main_promo-banner #left {
  position: absolute;
  left: -17.3em;
}

main .main_promo-banner #rigth {
  position: absolute;
  right: -17.3em;
}

main .main_promo-banner .promo-banner_text-content {
  position: relative;
  display: flex;
  align-items: center;
  width: 82%;
  height: 58%;
  border-radius: 60px;
  padding: 70px 0;
}

main .main_promo-banner .promo-banner_text-content .text-content_text {
  position: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
  color: white;
  z-index: 100;
}

main .main_promo-banner .promo-banner_text-content .text-content_subtitle {
  font-size: 0.6em;
  font-weight: 500;
}

main .main_promo-banner .promo-banner_text-content .text-content_title {
  margin: 0;
}

main .main_promo-banner .promo-banner_text-content .text-content_description {
  font-size: 1em;
  font-weight: 500;
  color: var(--three-primary-color);
}

main
  .main_promo-banner
  .promo-banner_text-content
  .text-content_navigate-to-prod-list {
  color: #242230;
  font-size: 0.5em;
  font-weight: 600;
  background-color: white;
  padding: 13px 25px;
  border-radius: 30px;
}

main
  .main_promo-banner
  .promo-banner_text-content
  .promo-banner_border-for-text-block {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.promo-banner_border-for-text-block .border-for-text-block_part-border {
  position: absolute;
  width: 50%;
  height: 50%;
}

#top_left {
  top: 0;
  left: 0;
  width: 50%;
  height: 80%;
  border-top: var(--border);
  border-left: var(--border);
  border-top-left-radius: 60px;
  z-index: 100;
}

#top_right {
  top: 0;
  right: 0;
  width: 50%;
  height: 80%;
  border-top: var(--border);
  border-right: var(--border);
  border-top-right-radius: 60px;
}

#bottom_left {
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-left: var(--border);
  border-bottom: var(--border);
  border-bottom-left-radius: 60px;
}

#bottom_right {
  bottom: 0;
  right: 0;
  width: 50%;
  height: 31.5%;
  border-bottom: var(--border);
  border-right: var(--border);
  border-bottom-right-radius: 60px;
  z-index: 1000;
}
